<html lang="en">

<head>

    {{!-- Google Search Console --}}
    <meta name="google-site-verification" content="29Tvjwwct-02BP-E8_HhZgcfuz262BULD7aKqhbi3jY" />  

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{!-- Meta Details --}}
    <meta property="og:site_name" content="San Roque 2014 Pollos">
    <meta property="og:title" content="San Roque 2014 Pollos" />
    <meta property="og:description" content="Programa de fiestas" />
    <meta property="og:image" itemprop="image"
        content="https://des5nqelydebj.cloudfront.net/20230224110027/assets/testimonials/Testimonial-02.jpg">
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="1440432930" />

    <title>Mana Panchayat | Home</title>

    <!-- Local CSS Link -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Bootstrap Links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Fontawesome Link -->
    <script src="https://kit.fontawesome.com/1a2b0738bb.js" crossorigin="anonymous"></script>


    <!-- Include Handlebars from a CDN -->
    {{!--
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script>
        // compile the template
        //var template = Handlebars.compile("Handlebars <b>{{doesWhat}}</b>");
        // execute the compiled template and print the output to the console
        //console.log(template({ doesWhat: "rocks!" }));
    </script> --}}



</head>

<body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 theme-shadow">
            {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>         --}}
        <div class="container">
            <div class="w-100 text-center text-lg-left">
                <a class="navbar-brand font-weight-bold" href="{{env}}">
                    <img width="120rem" height="65rem" src="../original_Logo.webp" alt="" class="text-center">
                </a>                
            </div>  

            <div class="w-100 mt-3 mt-lg-0 d-flex justify-content-center justify-content-lg-end" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item active badge badge-theme-primary">
                        <a class="nav-link text-theme-secondary" href="{{env}}"> <i class="fa fa-home mr-2"></i> Home 
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                {{!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form> --}}


            </div>             






        </div>
    </nav>

    <!-- Top Latest Cards -->
    {{!-- <div class="container mt-3">
        <div class="row">
            <div class="col-12 col-lg-8 ">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card text-white border-0 mb-3" style="max-width: 24rem;">
                            <div class="card-body">
                                <small class="p-1 my-5 bg-info text-white">Dark card title</small>
                                <h5 class="card-title">Dark card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card text-white border-0 mb-3" style="max-width: 24rem;">
                            <div class="card-body">
                            <h5 class="card-title">Dark card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>            
        
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card text-white border-0 mb-3" style="max-width: 24rem;">
                            <div class="card-body">
                            <h5 class="card-title">Dark card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card text-dark border-0 mb-3" style="max-width: 24rem;">
                            <div class="card-body">
                            <h5 class="card-title">Dark card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>            
        
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-4 d-flex">
                <div class="card text-dark border-0 mb-3 d-flex flex-column justify-content-center align-items-bottom  " style="max-width: 24rem;">
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>

    </div> --}}

    <div class="container mt-5">

        <h4 class="font-weight-bold">Recent Posts</h4>

        <div id="allPosts">
            <div id="holder">
                {{#each data.result}}
                <div class="cardu border my-4">
                    <div class="row" id="news_${this.id}">
                        <div class="col-12 col-md-3">
                            <a href={{readMeBlock this.id}}>
                                <img class="w-100 h-100" src={{this.imgUrl}} alt="" srcset=""></a>
                        </div>
                        <div class="col-12 col-md-9 newsCardDescription" style="position: relative;">
                            <div class="py-3 px-3 flex-column"
                                style="height: 100%;display: flex;justify-content: space-between !important;">
                                <div>
                                    <a href={{readMeBlock this.id}} style="color: #2E475D;">
                                        <h5 class="font-weight-bold">{{this.title}}</h5>
                                    </a>
                                    <div class="mt-3 newsCardDescriptionText">
                                        {{{this.newsDescription}}}
                                    </div>
                                </div>


                                <div class="d-flex justify-content-between mt-3 row" style="position: relative; bottom: 0px; width: 100%;">
                                    
                                    <div class="col-auto col-md-3">
                                        <a href={{readMeBlock this.id}} target="_blank" class="text-theme-primary">
                                        Read More
                                        <i class="fa-solid fa-angles-right ml-1"></i>
                                        </a>                                        
                                    </div>

                                    <div class="col-auto">
                                        <small class="text-secondary mr-3">
                                            <i class="fa-solid fa-location-dot mr-2 text-theme-primary"></i>{{this.location}}
                                        </small>                                                
                                    </div>

                                    <div class="col-auto">
                                        <small class="text-secondary">
                                            <i class="fa-regular fa-clock mr-2 text-theme-primary"></i>{{this.createOnDate}}
                                        </small>                                                
                                    </div>
                                        
                                    <div class="col-auto">
                                        <small class="text-secondary mr-3">
                                            <i class="fa-solid fa-eye mr-2 text-theme-primary"></i>{{this.views}}
                                        </small>                                                
                                    </div>


                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                {{/each}}
            </div>
        </div>

    </div>
    <!-- Local Js Link -->
</body>

</html>